*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deployment.xml
/.idea/codeStyles
/.idea/runConfigurations.xml
/.idea/shelf/
/.idea/copilot.data.migration.*.xml
.DS_Store
/app/build
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
local.properties
语言评估工具测试题目.pdf
*.jks
*.keystore
*.pem
*.p12
*.key
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
