*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deployment.xml
/.idea/codeStyles
/.idea/runConfigurations.xml

/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini

*.jks
*.keystore
*.pem
*.p12
*.key